# Terraform runtime files
**/.terraform/

# State files
**/*.tfstate
**/*.tfstate.backup

# Lock file
**/.terraform.lock.hcl

# Variables (secrets)
**/*.tfvars
**/*.tfvars.json
terraform.tfvars

# Secrets / keys
*.pem
*.key
.env

# Binaries
*.exe

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
