# Terraform runtime files
.terraform/
**/.terraform/

# State files
*.tfstate
*.tfstate.backup

# Lock file (optional: usually keep this)
# .terraform.lock.hcl

# Variables (secrets)
*.tfvars
*.tfvars.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
terraform.tfvars
*.exe
